 /* body {
                font-family: Arial, sans-serif;
                text-align: center;
                margin: 0;
                padding: 20px;
                background-color: #f4f4f4;
            } */

            .container {
                width: 100%;
                padding-right: 15px;
                padding-left: 15px;
                padding-top: 50px;
                margin-right: auto;
                margin-left: auto;
                max-width: 1000px;
                text-align: center;
            }

            h1{
                margin-bottom: 65px;
                font-size: 1.5rem;
                font-weight: 500;
            }

            
            h2>strong{
                font-weight: 500;
            }


            #dropZone{
                position: relative;
                width: fit-content;
                margin: auto;
            }

            #previewCanvas {
                border: 2px dashed #ccc;
                position: relative;
                background-color: #fff;
                background-image: repeating-linear-gradient(90deg, rgba(198, 198, 198, 0.05) 0px, rgba(198, 198, 198, 0.05) 1px, transparent 1px, transparent 5px), repeating-linear-gradient(0deg, rgba(198, 198, 198, 0.05) 0px, rgba(198, 198, 198, 0.05) 1px, transparent 1px, transparent 5px), repeating-linear-gradient(0deg, rgba(198, 198, 198, 0.06) 0px, rgba(198, 198, 198, 0.06) 1px, transparent 1px, transparent 15px), repeating-linear-gradient(90deg, rgba(198, 198, 198, 0.06) 0px, rgba(198, 198, 198, 0.06) 1px, transparent 1px, transparent 15px), linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255));
            }

            #previewCanvas.dragover {
                border: 2px dashed #007bff;
                background-color: #6da9de;
            }

            #controlButtons{
                display: none;
            }

            .controls {
                margin-top: 16px;
            }

            input[type='range'] {
                width: 200px;
            }
            button {
                padding: 6px 12px;
                border: none;
                background-color: #007bff;
                color: #fff;
                border-radius: 4px;
                cursor: pointer;
            }
            button:hover {
                background-color: #0056b3;
            }

             #reselectButton, #downloadButton {
                margin-top: 12px;
            }

            
            #canvasButtons{
                position:absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            #canvasButtons>span{
               font-size: 12px;
            }
            #canvasButtons>#selectButton{
               margin-top: 10px;
            }


            .slider-controls {
                display: flex ;
                flex-direction: column;
                gap: 5px;
                width: 300px;
                margin-left: auto;
                margin-right: auto;
            }

            .slider-controls > .control-group {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                margin: 5px 0;
            }

            .control-group > button {
                height: 28px;
                width: 46px;
                background-color: #cfe6ff;
                border: 1px solid #95c7fd;
                border-radius: 16px;
                cursor: pointer;
                padding: 0px;
            }
            .control-group > button:hover {
                background-color: #fff;
            }

            .control-group > button > .bi {
                color:black;
                font-size: 16px;
            }

            #resetButton{
                background-color: #fff;
                color: #007bff;
                border: 1px solid #007bff;
                margin-right: 20px;
            }
            #resetButton:hover{
                background-color: #d5e7f9;
            }

            p.desc{
                line-height: 1.6;
                max-width: 70%;
                text-align: center;
                margin-left: auto;
                margin-right: auto;
                margin-top: 30px;
            }
/* Common CSS across all pages of site, excluding app modules */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --color: #36415b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}

html{
    font-size: 16px;
}

body {
    line-height: 1.6;
    font-weight: 400;
    direction: ltr;
    font-family: "Ubuntu", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-variant-numeric: lining-nums;
    -ms-font-feature-settings: "lnum" 1;
    -o-font-feature-settings: "lnum" 1;
    -webkit-font-feature-settings: "lnum" 1;
    font-feature-settings: "lnum" 1;
    color: #47474f;
    background: #f5f5fa;
    background-image: linear-gradient(340deg, rgba(76, 76, 76, 0.02) 0%, rgba(76, 76, 76, 0.02) 34%, transparent 34%, transparent 67%, rgba(142, 142, 142, 0.02) 67%, rgba(142, 142, 142, 0.02) 73%, rgba(151, 151, 151, 0.02) 73%, rgba(151, 151, 151, 0.02) 100%), linear-gradient(320deg, rgba(145, 145, 145, 0.02) 0%, rgba(145, 145, 145, 0.02) 10%, transparent 10%, transparent 72%, rgba(35, 35, 35, 0.02) 72%, rgba(35, 35, 35, 0.02) 76%, rgba(69, 69, 69, 0.02) 76%, rgba(69, 69, 69, 0.02) 100%), linear-gradient(268deg, rgba(128, 128, 128, 0.02) 0%, rgba(128, 128, 128, 0.02) 5%, transparent 5%, transparent 76%, rgba(78, 78, 78, 0.02) 76%, rgba(78, 78, 78, 0.02) 83%, rgba(224, 224, 224, 0.02) 83%, rgba(224, 224, 224, 0.02) 100%), linear-gradient(198deg, rgba(25, 25, 25, 0.02) 0%, rgba(25, 25, 25, 0.02) 36%, transparent 36%, transparent 85%, rgba(180, 180, 180, 0.02) 85%, rgba(180, 180, 180, 0.02) 99%, rgba(123, 123, 123, 0.02) 99%, rgba(123, 123, 123, 0.02) 100%), linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255));
}

/* prevent body scrolling when left/right aside menu is open */
body.menu-open {
    overflow: hidden;
    /* position: fixed; */
    width: 100%;
}

.layout {  
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 60px minmax(calc(100vh - 160px), auto) 100px; */
    /* grid-template-rows: 60px minmax(0, 1fr) auto; */
    grid-template-rows: 60px 1fr auto;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
                "header"
                "main"
                "footer";
}

header{
    grid-area: header;
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background: #fff;
    -webkit-box-shadow: 0 3px 6px 0 rgba(50, 50, 50, .3);
    box-shadow: 0 3px 6px 0 rgba(50, 50, 50, .3);
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    z-index: 1000;
    transition: top 0.8s ease-in-out;
}

nav{
    display: flex;
}

.brand a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: green;
    font-weight: 600;
    font-size: 1.6rem;
}
.brand img{
    height: 30px;
    margin-right: 10px;
}

.nav-links{
    margin: 0 24px;
    display: flex;
    align-items: center;
}
@media only screen and (max-width: 1300px) {
    .nav-links {
        display: none;
    }
}
.nav-links a{
    margin: 0 24px;
    text-decoration: none;
    color:#161616;
}
.nav-links a:hover{
    color:#3eaf30;
}

/* common for both left and right aside menu */
.aside-menu {
    position: fixed;
    top: 0;
    width: 250px;
    /* width: 100%; */
    height: 100%;
    background: #222;
    color: white;
    padding: 1rem;
    box-sizing: border-box;
    transition: transform 0.3s ease;
    z-index: 1001;
    overflow-y: auto;
    max-height: 100vh;
}

.aside-menu ul {
    list-style: none;
    margin-top: 31px;
    margin-left: 10px;
    color: #f5f5fa;
}

.aside-menu ul li a {
    color: #47cf38;
    text-decoration: none;
    padding: 10px 0px;
    display: inline-block;
}

/* only for left side */
.aside-menu.left {
    left: 0;
    transform: translateX(-100%);
}

/* only for right side */
.aside-menu.right {
    right: 0;
    transform: translateX(100%);
}

/* both left and right */
.aside-menu.show {
    transform: translateX(0);
}

aside>.close-btn {
    background: #5e89db;
    color: white;
    border: none;
    border-radius: 7px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1rem;
}

/* 3-lines menu*/
#hamburgerMenu{
    display: none;
    height: 27px;
    cursor: pointer;
}

#hamburgerMenu img{
    height: 100%;
    margin-right: 10px;
}

@media only screen and (max-width: 1300px) {
    #hamburgerMenu {
        display: block;
    }
}

/* 9-dots */
#candyMenu{
    height: 22px;
    cursor: pointer;
}

footer{
    background-color: rgb(240, 240, 240);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgb(216, 216, 216);
    color: rgb(80, 80, 80);
    flex-direction: row;
    gap: 18px;
    font-size: 0.8rem;
    padding:20px 0px;
}

@media only screen and (max-width: 999px) {
    footer {
        flex-direction: column;
        gap:0px;
    }
}

footer a{
    text-decoration: none;
    color: inherit;
};
footer a:hover{
    text-decoration: underline;
};

